.main{
width:700px;
height:auto; margin:0 auto;
margin-top:20px}
.absol{ position:absolute; top:20px; z-index:100; width:700px;
}


.menu{
width:700px;
height:115px;
background-color:black;

}

.menu ul{
margin:0px;
padding:0px;

}
.menu ul li{
height:115px; width:139px; border-left:1px dotted #CCC7C7; float:left; text-align:center; list-style:none; display:block;

}
 
.menu ul li a{ color:#fff; font-size:14px; text-decoration:none; 
}

.menu ul li a:hover{

 background-color:gray; display:block;

}


.hide img {
display:none;
}
.hide:target img{
display:block;
}




