body{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}

h1{
	margin:0;
	padding:0;
	

}
.aa{
	display:block;
	width:100%;
	height:40px;
	background-color:rgba(166,166,166,1.00);
	padding:5%;
	}
.aa section{
	display:block;
	width:20%;
	float:left;
	height:40px;
	overflow:hidden;
	text-align:center;
	
}

h2{width:100%;
	height:0px;
overflow:hidden;
background-color:rgba(90,169,189,1.00);
padding:0px 0px 0px 10px;

margin:0px;
position:absolute;
font-size:36px;
z-index:20;
}
.aa section p{
	padding:10px;
}
.aa section h1{
	padding:10px;
}
.aa section a{
display:block;
color:rgba(244,243,25,1.00);
}

h2:target {
	height: 360px;
	background-color:rgba(90,169,189,1.00);
	
}

h3{height: 360px;
	background-color:rgba(90,169,189,1.00);
	font-size:36px;
padding:0px 0px 0px 10px;
margin:0px;
position:absolute;7
z-index:10;
}
.aa section,
 h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

