.main{width:800px; margin:0 auto;

background-color:#C8292B;}

.left{float:left;}
.right{float:left;}

.hide .right{display:none; }
.hide:target .right{ display:block;}
.hide{float:left;padding:0;margin:0;}


