.main{
width:900px;
height:auto;
background-color:aqua;
margin:auto;}


.menu{
width:900px;
height:100px;
overflow:hidden;
}

.menu ul{
margin:0px;
padding:0px;

}
.menu ul li{
width:179px;
height:100px;
float:left;
margin-left:1px;
list-style:none;
line-height:100px;
text-align:center;

}
 
.menu ul li a{
width:179px;
background-color:red;
float:left;
margin-left:1px;
list-style:none;
line-height:100px;
text-align:center;
text-decoration:none;
}

.menu ul li a:hover{
width:179px;
height:100px;
color:purple;
background-color:blue;
font-size:18px;
text-decoration:underline;
text-transform:capitalize;
color:white;
text-decoration:none;
}


.sid p{
display:none;
padding:0px 10px;
height:200px;
}
.sid:target p{
display:block;

}



